.mainContainer {
    display: flex;
    align-items: center;
    margin-inline: 2em;
}

.navigationButton {
    color:#25a87b;
}

@media(max-width: 990px) {
    .navigationButton {
      display: none;
    }
    .mainContainer {
        margin-inline: 1rem;
    }
}