.mainContainer {
    display: flex;
    flex-direction: column;
}

.categoriesGrid {
    display: grid;
    grid-area: column;
    grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
    grid-auto-rows: 200px;
    justify-items: center;
    justify-content: space-between;
    row-gap: 55px;
    max-height: 455px;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.categoriesGrid.expanded {
    max-height: none;
}

.categoryContainer {
    display: flex;
    flex-direction: column;
    width: 160px;
    align-items: center;
    gap: 0.5em;
}

.avatar {
    width: 140px;
    height: 140px;
}

.button {
    display: flex;
    justify-content: center;
    padding: 3em;
}

@media (max-width: 990px){
    .avatar {
        width: 120px;
        height: 120px;
    }
    .categoryContainer {
        display: flex;
        flex-direction: column;
        width: 120px;
        align-items: center;
        gap: 0.5em;
    }
    .categoriesGrid {
        grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
        grid-auto-rows: 160px;
        justify-items: center;
        justify-content: space-between;
        row-gap: 55px;
        max-height: 390px;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }
}
