.mainContainer {
    display: flex;
    gap: 1em;
    border-radius: 20px;
    height: auto;
    min-height: 90px;
    max-height: 180px;
    width: 100%;
    justify-content: space-between;
    padding: 0.5em;
    align-items: center;
    box-shadow: 0 2px 8px rgba(128, 128, 128, 0.4);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
}

.productImage {
    border-radius: 8px;
    object-fit: contain;
    /* max-height: 90px; */
    width: 25%;
    max-height: 100%;

}

.details {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 75%;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 1em;
}

.subDetails {
    display: flex;
    align-items: center;
    gap: 1em;
    overflow: hidden;
    flex-shrink: 0;
}

.productName {
    text-transform: capitalize;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limita a 3 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: var(--font-poppins);
    height: auto;
}

.supermarketLogo {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.price {
    font-family: var(--font-poppins);
}

@media(max-width: 800px) {
    .mainContainer {
        /* flex-wrap: wrap; */
        max-height: none;
        align-items: center;
        justify-content: center;

    }
    .details {
        flex-direction: column;
        align-items: stretch;
    }
    .subDetails {
        justify-content: space-around;
    }
}

@media(max-width: 600px) {
    .mainContainer {
        flex-direction: column;
    }
    .productName {
        text-align: center;
    }
    .productImage {
        width: 45%;
    }
}