.mainContainer {
    display: flex;
    gap: calc(2em + 40px);
    overflow-y: hidden;
    position: relative;
    width: 100vw;
    max-width: 1200px;
    max-height: 75vh;
}

.titleContainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.logoSupermarket {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.mainImage {
    max-width: 70%;
    align-self: center;
}

.leftProduct {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
    padding-inline: 0.5em;
    padding-bottom: 1em;
}

.rightProduct {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
    width: 50%;
    padding-inline: 0.5em;
    padding-bottom: 1em;
}

.priceAndOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comparationIcon {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    justify-content: center;
    justify-self: center;
}