.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.promotion {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  font-family: var(--font-poppins);
}

.promotionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5em;
  padding-left: 5em;

  gap: 2.25em;
  width: 55%;
}

.promotionTitle {
  font-size: 2.5em;
  font-family: var(--font-poppins);
}

.promotionDescription {
  font-size: 1.125em;
  font-weight: 300;
}

.promotionImage {
  object-fit: fill;
  align-self: start;
  width: 45%;
}

.imageContainer{
  background-color: #F71735;
  background-image: url("/pruebaSesion.jpg");
}

.categoriesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4em;
  padding: 5em;
}

@media(max-width: 990px) {
  .promotion {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
  }
  .promotionText {
    padding: 2em;
    gap: 2.25em;
    width: 100%;
  }
  .promotionTitle {
    text-align: center;
  }
  .promotionDescription {
    text-align: center;
  }
  .promotionImage {
    align-self: end;
    width: 100%;
  }
  .categoriesContainer {
    padding: 2em;
  }
}