.mainContainer {
    display: flex;
    flex-direction: column;
    padding-inline: 5em;
    padding-top: 8em;
    padding-bottom: 3em;
    justify-content: stretch;
    gap: 1.5em;
    overflow-y: hidden;
}

.foundProducts {
    display: grid;
    grid-area: column;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    justify-items: center;
    justify-content: end;
    gap: 1.5em;
    transition: max-height 0.3s ease-in-out;
}

@media (max-width: 990px){
    .mainContainer {
        padding-inline: 2em;
    }
}